@page
@model WebApp.Pages.RecuperarPasswordModel
@{
    Layout = null;

}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />

<div id="app">
   <div class="container d-flex flex-column" style="width:70%;">
        <div class="card text-center">
            <div class="card-header bg-primary">
                Recuperar Contraseña
            </div>
            <div class="card-body">

                <div class="mb-3 row" v-if="estado == 1">
                    <label class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" v-model="usuario.email" class="form-control">
                    </div>
                </div>
              

                <button v-if="estado == 1" type="button" class="btn btn-primary" @@click="GenerarCodigo">Recuperar</button>

                <div class="mb-3 row" v-if="estado == 2">

                    <label class="col-sm-2 col-form-label">Correo</label>
                    <div class="col-sm-10">
                        <label class="form-control">{{usuario.email}}</label>
                    </div>
                </div>

                <div class="mb-3 row" v-if="estado == 2">
                    <label class="col-sm-2 col-form-label">Ingresar Codigo Verificación</label>
                    <div class="col-sm-10">
                        <input type="number" v-model="codigo_verificacion" class="form-control">
                    </div>
                </div>
                <button v-if="estado == 2" type="button" class="btn btn-primary" @@click="VerificarCodigo">Verificar Codigo</button>
                <button v-if="estado == 2" type="button" class="btn btn-success" @@click="GenerarCodigo">Generar Codigo</button>


                <div class="mb-3 row" v-if="estado == 3">
                    <label class="col-sm-2 col-form-label">Nueva Contraseña</label>
                    <div class="col-sm-10">
                        <input type="password" v-model="nueva" class="form-control">
                    </div>
                </div>


                <div class="mb-3 row" v-if="estado == 3">
                    <label class="col-sm-2 col-form-label">Conf. Contraseña</label>
                    <div class="col-sm-10">
                        <input type="password" v-model="confirmar" class="form-control">
                    </div>
                </div>
                <button v-if="estado == 3" type="button" class="btn btn-primary" @@click="ActualizarContrasenia">Actualizar Contraseña</button>

                
                
                <p v-if="estado > 1"><a href="#" @@click="estado = 1">Enviar Codigo Otro Correo</a></p>
                <p>¿Ya tienes una cuenta? <a href="/Login">Iniciar Sesión</a></p>
            </div>
        </div>
   </div>
</div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.6.1/vue-resource.min.js" integrity="sha512-NuUIe6TWdEivPTcxnihx2e6r2xQFEFPrJfpdZWoBwZF6G51Rphcf5r/1ZU/ytj4lyHwLd/YGMix4a5LqAN15XA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>
    new Vue({
        el: "#app",
        data: {
           usuario: {},
           estado: 1,
           codigo_verificacion: 0,
           confirmar:'',
           nueva:''
        },
        mounted: function () {
            this.validar();
        },
        methods: {
             GenerarCodigo: function () {
                if(this.usuario.email.length == 0){
                    alert("El correo es requerido.");
                    return;
                }

                var url = "http://localhost:5039/api/Usuarios/generarCodigo?correo=" + this.usuario.email ;
                this.estado = 1;
                this.codigo_verificacion = 0;
                this.$http.get(url).then(function (response) {
                  var msg = response.data;
                  if(msg == "OK"){
                      alert("Se envio a su correo un codigo de verificación que sera valido por 10 minutos.");
                      this.estado = 2;
                  }else{
                      alert(msg);
                  }

                }, error => {
                    console.dir(error);
                });

            },

            validar: function () {
                this.usuario = JSON.parse(localStorage.getItem('usuario'));

                if (this.usuario != null) {
                   
                    window.location = "/usuario";
                  
                    return;
                } else {
                    this.usuario = {
                        email: '',
                        clave: ''
                    };
                }
            },
            VerificarCodigo: function(){
                var url = "http://localhost:5039/api/Usuarios/verificarCodigo?codigo="
                + this.codigo_verificacion+"&correo="+this.usuario.email;
          
                this.$http.get(url).then(function (response) {
                    var data = response.data;
                    
                    if(data.msg === "OK"){
                        this.usuario = data.data;
                        this.estado = 3;
                    }else{
                        alert(data.msg);
                    }
                }, error => {
                    console.dir(error);
                });
            },
           ActualizarContrasenia: function()
           {
               if(this.nueva.length == 0){
                   alert('El campo contraseña es requerido');
                   return;
               }

                if (this.confirmar.length == 0) {
                    alert('El campo confirmación contraseña es requerido');
                    return;
                }

                if (this.confirmar !=this.nueva) {
                    alert('Las contraseñas no coinciden.');
                    return;
                }

                var url = "http://localhost:5039/api/Usuarios/actualizarContrasenia?idUsuario="
                    + this.usuario.id + "&contrasenia=" + this.nueva;

                this.$http.get(url).then(function (response) {
                    var data = response.data;

                    if (data === "OK") {
                       alert('La contraseña se actualizo de forma correcta');
                        this.estado = 1;
                    } else {
                        alert(msg);
                    }
                }, error => {
                    console.dir(error);
                });
           }
        }
    })

</script>